---
primary: false
headline: "Headline"
subline: "Subline"
---
<header class="partial" data-partial="elements/header">
  {{#block "before"}}{{/block}}
  {{#if primary}}
      <h1 class="headline">{{{headline}}}</h1>
      <h2 class="subline">{{{subline}}}</h2>
  {{else}}
      <h2 class="headline">{{{headline}}}</h2>
      <h3 class="subline">{{{subline}}}</h3>
  {{/if}}
  {{#block "after"}}{{/block}}
</header>
