---
header:
  primary: false
  headline: "Sidebar"
  subline: "subline"
---
{{{def group="header" name="header" type="Headline"}}}
{{{def name="text" type="Editor" title="Text"}}}
<section class="partial" data-partial="components/sidebar/menu">
  {{{mixin "elements/header" header}}}
  {{{text}}}
  {{{mixin "fragments/menu" area-content=area-content}}}
</section>
