---
post:
  area:
    slider:
      slider:
        pagination: true
        arrows: true
        loop: true
        slides:
          -
            picture:
              sources:
                - {type: 'default', srcset: 'assets/img/content/example_1.png'}
          -
            picture:
              sources:
                - {type: 'default', srcset: 'assets/img/content/example_2.png'}
          -
            picture:
              sources:
                - {type: 'default', srcset: 'assets/img/content/example_3.png'}
          -
            picture:
              sources:
                - {type: 'default', srcset: 'assets/img/content/example_4.png'}
          -
            picture:
              sources:
                - {type: 'default', srcset: 'assets/img/content/example_5.png'}
          -
            picture:
              sources:
                - {type: 'default', srcset: 'assets/img/content/example_6.png'}
          -
            picture:
              sources:
                - {type: 'default', srcset: 'assets/img/content/example_7.png'}
          -
            picture:
              sources:
                - {type: 'default', srcset: 'assets/img/content/example_8.png'}


---
{{#mixin "common/content" this}}
  {{#content "main"}}
    {{#with body}}

      {{#mixin "components/post-list/post" header=false more-link=false}}

        {{#content "content"}}
          <h2 style="text-align: center;">Hier wird noch gebaut…</h2>
        {{/content}}
      {{/mixin}}

      {{#mixin "components/post-list/post"}}
        {{#content "area"}}
          {{#mixin "areas/post"}}

            {{#content "area-content"}}
              {{{mixin "components/media/code"}}} {{{mixin "components/media/slider" ../../../post.area.slider}}} {{{mixin "components/media/text"}}} {{{mixin "components/media/image"}}} {{{mixin "components/media/youtube"}}} {{{mixin "components/media/video"}}}
            {{/content}}

          {{/mixin}}
        {{/content}}
      {{/mixin}}

      {{{mixin "components/post-list/post"}}}

    {{/with}}
  {{/content}}

  {{#content "sidebar"}}
    <div class="grid-col-12-12 grid-col-sm-6-12 grid-col-md-12-12">
      {{{mixin "components/sidebar/menu"}}}
    </div>
    <div class="grid-col-12-12 grid-col-sm-6-12 grid-col-md-12-12">
      {{{mixin "components/sidebar/post-list"}}}
    </div>

  {{/content}}
{{/mixin}}
